@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face{
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', 'Arial';
  font-weight: normal;
  background-color: var(--header-color);
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}