.FoodInfo {
  color: black;
  font-size: 1rem;

  font-weight: bold;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
}
@media (max-width: 480px) { /* adjust the max-width as needed */
  .FoodInfo {
    font-size: 0.8rem; /* reduce the font size for smaller screens */
  }
}

/* Single Food Item */
.FoodItemContainer {
  display: grid;
  grid-template-columns: 200px 1fr;
  border-radius: 5px;
}

#FoodImage {
  width: 100%;
  min-width: 150px;
}

/* All Food FlexBox */
.FoodContainer {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  max-height: 100%;
  width: 100%;

  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
}

.floater.menu {
  display: block;
}